{
  "UBD_BOT_ENV": "string",
  "TWITTER_CONSUMER_KEY": "string",
  "TWITTER_CONSUMER_SECRET": "string",
  "TWITTER_ACCESS_TOKEN_KEY": "string",
  "TWITTER_ACCESS_TOKEN_SECRET": "string",
  "MONGO_CONNECTION_STRING": "string"
}
